<html>
	<head>
		<title>Form</title>
	</head>
	
	<body>
		<form action = 'users/extractData' method = 'post'>
			<input type = 'text' name = 'Na' placeholder = 'Input Name'/>
			<input type = 'submit' value = 'Submit'/>
		</form>
	</body>
<html>